---
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    /**
     * 預設全局字體
     */
    @font-face {
        font-family: Emoji;
        src: local("Apple Color Emoji"), local("Segoe UI Emoji"),
            local("Segoe UI Symbol"), local("Noto Color Emoji");
        unicode-range: U+1F000-1F644, U+203C-3299;
    }

    :root {
        font-family:
            system-ui,
            —apple-system,
            Segoe UI,
            Rototo,
            Emoji,
            Helvetica,
            Arial,
            sans-serif;
    }
</style>
